.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
    align-items: center;

    font-family: var(--font-family);
    color: var(--font-color-1);
}

.value {
    grid-column: 1 / 2;

    font-size: var(--font-size-xs);
    opacity: 0.6;
}

.example {
    grid-column: 2 / 3;
}