.list {
    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr;

    grid-gap: var(--spacing-level-3);
    margin: 0;
    padding: 1rem;
}

.list > li {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);

    cursor: grab;

    transition: box-shadow 500ms ease-in !important;
}

.list > li:hover {
    box-shadow: var(--shadow-level-3);
}

.list > li:not(.selected):focus {
    outline: var(--outline-color) solid 2px;
    border-radius: var(--radii-level-1);
}

.list > li.dragging,
.list > li.selected > * {
    cursor: grabbing;

    box-shadow: var(--shadow-level-3);
}
