.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.marginContainer {
    background: orange;
}

.paddingContainer {
    background: yellowgreen;
}

.valueContainer {
    background: white;

    padding: .75rem;
}
